<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie">
	
	<!-- <select id="selectMovieList" resultType="movie">
		select
			*
		from
			movie
	</select> -->
	
	<!-- <select id="selectOneMovie" resultType="movie">
		select
			*
		from
			movie
		where
			code = '#{code}'
	</select> -->
	
	<select id="checkScrap" resultType="_int">
		select count(*) from scrap where id = #{id} and api_code = #{apiCode}
	</select>
	<insert id="insertScrap">
		insert into scrap (code, id, api_code)
		values (concat('cm-',seq_board_no.nextval), #{id}, #{apiCode}) 
	</insert>
	<delete id="deleteScrap">
		delete from scrap
		where id= #{id} and api_code = #{apiCode}
	</delete>
	
	<!-- 평점 평균 -->
	<select id="avgRating" resultType = "double">
		select  round(avg(star),0) as rating from comments where api_code = #{apiCode} group by api_code
	</select>
	
	<select id="listStar" resultType = "_int">
		select star from comments where api_code = #{apiCode}
	</select>
	
	<resultMap type="Comment" id="CommentMap">
		<id column="code" property="code"/>
		<result column="comment_level" property="commentLevel"/>
		<result column="content" property="content"/>
		<result column="reg_date" property="regDate"/>
		<result column="comment_ref" property="commentRef"/>
		<result column="id" property="id"/>
		<result column="api_code" property="apiCode"/>
		<result column="star" property="star"/>
	</resultMap>
</mapper>

