#diaryYear {
	display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
}
#diaryPreview-container {
	padding-top: 15px;
    display: flex;
    justify-content: center;
    background-color: #cbe1ffe0;
    padding: 50px;
}
#diaryMain-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
#diaryMonth li { 
	width: 40px;
	cursor: pointer;
	padding: 6px;
    background-color: #0a1f33;
    color: white;
}
#diaryMonth li :hover { 
	background-color: #0000;
}
#diaryMonth ul {
	list-style: none;
    display: flex;
    font-size: 30px;
    text-align-last: center;
}
#diaryPreviewContent {    
	display: flex;
    flex-direction: row;
}
#diarySearch-container { 
	padding-bottom: 15px;
	padding-left: 7px;
    display: flex;
}
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
} 
[type=radio] + div { cursor: pointer; }
[type=radio]:checked + div { height:160px; }
.form-group { 
	text-align: center; display: flex;
    flex-direction: column;
    align-items: center;
}
.emotionChoose { 
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blanket{
    content:url("/nadaum/resources/images/diary/emotion/blanket.png");
    height:130px;
}
.daechoong{
    content:url("/nadaum/resources/images/diary/emotion/daechoong.png");
    height:130px;
}
.gogo{
    content:url("/nadaum/resources/images/diary/emotion/gogo.png");
    height:130px;
}
.happy{
    content:url("/nadaum/resources/images/diary/emotion/happy.png");
    height:130px;
}
.trash{
    content:url("/nadaum/resources/images/diary/emotion/trash.png");
    height:130px;
}
.eat{
    content:url("/nadaum/resources/images/diary/emotion/eat.png");
    height:130px;
}
.col-8 {
	width: 600px; 
	overflow: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    width: 1016px;
    height: 660px;
    margin-left: -15px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
}
.listAnchor{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
    cursor: pointer;
}
#list-tab {
	width: 287px;
    height: 657px;
    overflow: auto;
}

.list-group-item.active {
    color: #fff;
    background-color: #0a1f33;
    border-color: #0a1f33;
	scroll-snap-align: start;
}
.diaryContentTitle {
	cursor: pointer;
	display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
}

.diaryContentTitle :hover { 
	background-Color: yellow;
}
#month1 {
	border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#month12 {
	border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.btn-primary {
    color: #fff;
    background-color: #0a1f33;
    border-color: #007bff00;
}

/* search css */
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 258px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 4px;
  transition: all .5s ease-in-out;
  background-color: #0a1f33;
  padding-right: 40px;
  color: #0a1f33;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
} 
.search-view{    
	padding-left: 23px;
    padding-top: 7px;
}
.input-search{
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.fas fa-search{cursor: pointer;}
.fa-angle-left:before {
    content: "\f104";
    font-size: 30px;
    padding-right: 10px;
    cursor: pointer;
}
.fa-angle-right:before {
    content: "\f105";
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}