.member-profile-change-body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.member-profile-image{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 0;
}
.change-profile-img{
	width: 150px;
	height: 150px;
	border: 0;
}

.change-profile-btn input{
	display: none;
}

