.help-detail-body{
	width: 700px;
}

.help-enroll-frm-wrap{
	display: flex;
	justify-content: center;
}


.question-list-wrap{
	display:flex;
	justify-content: center;
}
.question-list-head{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.question-list-head h1{
	color:#0A1F33;
}
.question-list-body{
	display: flex;
	border: 1px solid ghostwhite;
	width: 1024px;
	flex-wrap: wrap;
	justify-content: center;
}
.common-help-wrap{
	border: 1px solid #ededed;
}
.help-search-btn-wrap{
	display: flex;
	justify-content: center;
}
.help-search-btn-wrap button{
	background-color: #0A1F33;
	color:#FFFBF5;
}
.help-search-btn-wrap input{
	width: 400px;
}
.help-btn-wrap{
	text-align: right;
}
.write-btn-wrap{
	display:flex;
	width: 700px;
	justify-content: flex-end;
}
.write-help-btn{
	margin-bottom: 10px; 
}

#search-result-ul li{
	width: 450px;
	background-color:#FFFBF5;
	color:#0A1F33;
}
#search-result-ul li:hover{
	background-color:#fff2e0;
}

.all-category{
	height: 291px;
}
.all-category i{
	color: #0A1F33;
}
.all-category a{
	width: 310px;
	height: 48px;
}
.help-list-main li {
	background-color: inherit;
}
.help-list-main li a{
	background-color: inherit;
}

.question-list-body > div{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width: 350px;
	margin: 10px;
}
.question-list-body span{
	margin: 5px;
}
.help-list-footer{
	margin: 5px;
	text-align: right;
}
.help-list-footer a{
	color: gray;
	font-size: 0.8rem;
}

/* 검색결과 리스트 */
.result-box{
	display: flex;
	cursor: pointer;
}



/* 카테고리 더보기 */
.one-category{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.one-category .help-title{
	text-align: center;
}
.one-category .write-help-btn-wrap{
	text-align: right;
	width: 700px;
	margin-bottom: 10px;
}

.one-category .help-list-main{
	width: 700px;
}

.one-category .list-group-item{
	padding: 5px;
}

.one-category .help-span-info{
	float: right;
}

.one-category .help-list-footer{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.back-to-catagory{
	width: 700px;
	text-align: left;
}