.section{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}
.absolute-left{
	width: 250px;
	
}
.absolute-left ul li{
	padding: 0;
}
.absolute-left ul li a{
	padding: 0.75rem 1.25rem;
	display: block;
	color: black;
}
.absolute-left .out a{
	color: lightgray;
	font-size: .5rem;
}
.main-section{
	width: 500px;
	padding: 10px;
	margin-left: 150px;
}

.info-profile-wrap{
	display: flex;
	justify-content: space-between;
}

.info-update-btn{
	display:flex;
	justify-content:flex-end;
	margin-top: 10px;
}



/* 프사 관리 */
.profile-div{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.profile-div img{
	width: 150px;
	height: 150px;
}
.profile-div-wrap .nickname-wrap{
	padding-top: 10px;
}

/* 피드 관리 */
.my-feed-wrap{
	width: 1000px;
	border: 1px solid black;
}
.feed-article{
	width: 300px;
	height: 300px;
	border: 1px solid red;
}





/* helpDetail */
.help-detail-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.help-title{
	font-size: 1.5rem;
	font-weight: bold;
}
.question-wrap{
	margin-top: 20px;
}
.q-date-wrap{
	text-align:right;
}
.q-date-wrap span{
	color: gray;
}
.q-content-wrap{
	display: flex;
	align-items: baseline;
}
.q-content{
	margin-left: 40px;
}
.q-info-wrap{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.q-writer-info{
	display: flex;
	align-items: flex-end;
}

.answer-wrap{
	margin-top: 50px;
}
.a-title-wrap{
	display:flex;
	justify-content: space-between;
}
.a-title p{
	font-size: 1.3rem;
}
.a-date-wrap span{
	color: gray;
}
.a-content-wrap{
	display:flex;
	align-items: baseline;
}
.a-content{
	margin-left: 40px;
}

.a-info-wrap{
	text-align:right;
}

.help-footer{
	margin-top: 50px;
}



/* 공지사항 */
.announcement-wrap{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.announcement-header{
	margin-bottom: 50px;
}
.announcement-header span{
	font-size: 1.3rem;
	font-weight: bold;
}

.announcement-body table thead th{
	text-align: center;
}
.announcement-body table tbody .announce-title{
	width: 500px;
}




