.section{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}
.absolute-left{
	width: 250px;	
}
.absolute-left ul li{
	padding: 0;
	background-color: #FFFBF5;
}
.absolute-left ul li a{
	padding: 0.75rem 1.25rem;
	display: block;
	color: #0A1F33;
	font-weight: 500;
}
.absolute-left .out a{
	color: lightgray;
	font-size: .5rem;
}
.main-section{
	width: 500px;
	padding: 10px;
	margin-left: 150px;
}

.info-profile-wrap{
	display: flex;
	justify-content: space-between;
}

/* 정보수정 */
.info-form input{
	margin: 5px;
}

.info-update-btn{
	display:flex;
	justify-content:flex-end;
	margin-top: 10px;
}



/* 프사 관리 */
.profile-div{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.profile-div img{
	width: 150px;
	height: 150px;
}
.profile-div-wrap .nickname-wrap{
	padding-top: 10px;
}

/* 취미 */
.my-hobby-wrap-title{
	display: flex;
}
.hobby-edit-btn{
	margin-left: 10px;
}
.hobby-edit-btn i{
	cursor: pointer;
}
.write-hobby-self-wrap .self-btn{
	cursor: pointer;
}
.my-hobby-wrap{
	margin: 5px 0;
	font-size: 1.2rem;
	color: #0A1F33;
	font-weight: bold;
}
.check-hobby input{
	display:none;
}
.hobby-select-form .check-hobby label:hover{
	font-size: 1.1rem;
}

/* 소개 */
.member-introduce-wrap{
	margin-top: 10px;
}
.introduce-title-wrap{
	display: flex;
}
.introduce-edit-wrap{
	margin-left: 10px;
}
.introduce-edit-wrap i{
	cursor: pointer;
}
.introduce-content-wrap{
	display: flex;
}
.member-introduce{
	margin:5px 0;
}

.introduce-content textarea{
	resize: none;
	width: 400px;
}

.introduce-modify-btn-wrap{
	margin: 15px 0 0 10px;
	font-size: 1.5rem;
}
.introduce-modify-btn-wrap i{
	cursor: pointer;
}


/* 마이페이지 알림 */
.more-alarm-btn-wrap{
	margin-top: 10px;
	text-align:center;
}


/* helpDetail */
.help-detail-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.help-title{
	font-size: 1.5rem;
	font-weight: bold;
}
.question-wrap{
	margin-top: 20px;
}
.q-date-wrap{
	text-align:right;
}
.q-date-wrap span{
	color: gray;
}
.q-content-wrap{
	display: flex;
	align-items: baseline;
}
.q-content{
	margin-left: 40px;
}
.q-info-wrap{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.q-writer-info{
	display: flex;
	align-items: flex-end;
}

.answer-wrap{
	margin-top: 50px;
}
.a-title-wrap{
	display:flex;
	justify-content: space-between;
}
.a-title p{
	font-size: 1.3rem;
}
.a-date-wrap span{
	color: gray;
}
.a-content-wrap{
	display:flex;
	align-items: baseline;
}
.a-content{
	margin-left: 40px;
}

.a-info-wrap{
	text-align:right;
}

.help-footer{
	margin-top: 50px;
}



/* 공지사항 */
.announcement-wrap{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.announcement-header{
	margin-bottom: 50px;
}
.announcement-header span{
	font-size: 1.3rem;
	font-weight: bold;
}

.announcement-body table thead th{
	text-align: center;
}
.announcement-body table tbody .announce-title{
	width: 500px;
}
.list-controller{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}




