.member-body{
	min-height: 500px;
	margin-top: 100px;
	padding: 10px;
}

/* 친구관리 */
.friend{
	margin-left: 15px;
}
.friend-btn button{
	
}

.slick-list{
	background-color: #aaaaaa40;
}



.follower{
	margin-left: 15px;
}