@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
	box-sizing: border-box;
	position: relative;
}

/* 영역 확인용 박스 */
.box {
	border : 1px solid black;
}

/* 페이지 전체 감싸고 있는 div */
/* .wrapper {
	margin-top : 100px;
	position : relative;
} */

/* selectbox, textbox css */
select, input[type=text] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  padding: .6em 1.4em .5em .8em;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: .5em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

select:hover, #search {
  border-color: #888;
}

select:focus, #search:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

/* 버튼 기본 설정 */
.defaultBtn{
	border : none;
	background : #FFFBF5;	
	outline:0;
}

.defaultBtn:hover{
	color : #aaa;
	cursor : pointer;
	outline:0;
}

.defaultBtn:active, .defaultBtn:focus{
	border : none;
	box-shadow: none;
	outline:0;
}

/* input[type=date] */

input[type="date"] {
  display:block;
  position:relative;
  padding:1rem 3.5rem 1rem 0.75rem;
  
  font-size:1rem;
  font-family:monospace;
  
  border:1px solid #8292a2;
  border-radius:0.25rem;
  background:
    white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    right 1rem
    center
    no-repeat;
  
  cursor:pointer;
}
input[type="date"]:focus {
  outline:none;
  border-color:#3acfff;
  box-shadow:0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit {}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background:rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
  opacity:0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display:none;
}
::-webkit-calendar-picker-indicator {
  position:absolute;
  width:2.5rem;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  
  opacity:0;
  cursor:pointer;
  
  color:rgba(0, 120, 250, 1);
  background:rgba(0, 120, 250, 1);
 
}

input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }


/* input[type=radio] */
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}


/* 좌측 차트 섹션*/
.chartSection {
	width: 35%;
	height: 100%;
	float: left;
 	padding : 20px;
 	text-align : right;
 	overflow : hidden;
}

#detailChartLink {
	color : black;
}

#detailChartLink:hover{
	text-decoration : none;
}

/* 중앙 메인 섹션 */
.search_list_section,.infoSection{
  width : 35%;
  height: 100%;
  float: left;
  position: relative;
  padding : 20px;
  /* overflow : hidden; */
}

.search_box {
	padding : 5px;
	margin-bottom : 10px;
}

#searchBtn {
	width : 30px;
	height : 30px;
	font-size : 20px;
	background-color : #FFFBF5;
}

.search-selectbox, .search-inputbox {
	display : block;
}

.search-inputbox {
	margin : 20px;
	margin-left : 35px;
	margin-left : 100px;
}

.searchBox {
	width : 80%;
	display : block;
	padding : 15px;
	text-align : center;
}

.fillterSection {
	padding : 5px;
	border-bottom : 1px solid #aaa;
	position : relative;
}

.fillterSection button {
	padding-right : 15px;
	font-size : 18px;
}

.fillterSection a {
	position : relative;
	font-size : 18px;
	margin : 0px 5px;
	color : #0A1F33;
}

#excelModalBtn {
	float : right;
}

.fillterSection a:hover {
	text-decoration : none;
}

.listBox{
	width : 100%;
	height : 500px;
	overflow : auto;
}


/* infoSection */
.infoSection {
	width : 30%;
	text-align : center;
}

.account{
  position: relative;
  width: 100%;
  height: 60%;
}

.account-info {
  display: inline-block;
  position: relative;
  top : 50px;
  font-size: 25px;
}

.account-info td {
  height: 30px;
  width : 150px;
}

.account-info tr:nth-child(3) {
  height: 80px;
  font-size: 30px;
}

.account-info tr:nth-child(4) {
  height: 50px;
}

/* 거래내역 입력하기 버튼 */
#insertBtn{
  width : 300px;
  height: 150px;
  position: relative;
  bottom: -100px;
  background : rgba(225, 225, 225, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border : 1px solid rgba(225, 225, 225, 0.5);
  border-radius: 10px;
}

#insertBtn:hover {
  cursor : pointer;
  border : 1px solid gray;
}


.plus {
	color : lightgray;
	margin : 15px;
}


/* 모달 관련 */
 .modal-background{
  background-color: rgba(0, 0, 0, 0.5);
  position : fixed;
  z-index : 5;
  width : 100%;
  height : 100vh;
  display : none; 
  margin-top : -100px;
  padding : 0;
  
}

.insertAccountModal, .updateAccountModal{
  background-color: #FFFBF5;
  width : 30%;
  margin : 100px auto;
  padding : 20px;
  border-radius: 10px;
  position : relative;
  text-align : center;
}

.modalCloseBtn{
	position : absolute;
	top : 20px;
	right : 30px;
	background : #FFFBF5;
	border : none;
	font-size : 20px;
}

#modalCloseBtn:hover {
	cursor : pointer;
} 

.insertAccountTable {
	display : block;
	margin-top : 30px;
}

.insertAccountTable th, .insertAccountTable td  {
	margin : 10px;
	padding : 10px;
	text-align : center;	
}

.insertAccountTable th {
	font-size : 20px;
}

.addAccountBtn {
	margin : 10px;
	font-size : 18px;
	width : 150px;
	height : 50px;
	border-radius : 10px;
	background-color : #c7ecf5;
}

.addAccountBtn:hover {
	background-color : #88d7ea;
}



/* 가계부 리스트 */
.accountListDiv {
  width : 400px;
  height: 80px;
  background : rgba(225, 225, 225, 0.1);
  border : 1px solid rgba(225, 225, 225, 0.5);
  border-radius: 10px;
  margin : 15px auto;
  position : relative;
  }

.modifyBtn{
	position : absolute;
	right : 60px;
	border : none;
	background-color : #0A1F33;
	color : #FFFBF5;
	width : 100px;
	height : 30px;
	border-radius : 10px;
}

.updateBtn {
	left : 100px;
}


.accountTable {
	margin : 5px;
}

.accountTable td {
	padding : 4px;
}

.accountRegDate, .accountDetail {
	width : 380px;
}

.accountDetail {
	font-size : 18px;
}

.accountRegDate {
	color : #b2b0b0;
}

.accountPrice {
/* 	width : 100px; */
	font-size : 20px;
}

.income {
	color : green;
}

.expense {
	color : red;
}

.accountUpdate{
  width : 400px;
  height: 50px;
  margin-top : 10px;
  display : none;
}

.accountPage {
	width : 300px;
	height : 50px;
	position : relative;
	margin : 30px auto;
}


/* 어카운트 레터 */
.analyze-account {
	width : 70%;
	height : 100%;
	margin : auto;
}

.analyze-account-header {
	text-align : center;
	font-size : 30px;
	letter-spacing : 5px;
}

.analyze-account-header i, .analyze-account-header p{
	display : inline-flex;
	margin : 50px;
	padding : 3px;
}

.incomeArea, .expenseArea, .monthlyArea {
	padding : 10px;
	font-size : 18px;
}

.incomeArea-title p, .expenseArea-title p, .monthlyArea-title p {
	font-size : 30px;
	padding : 5px;
	display : inline-flex;
	margin : 7px;
	letter-spacing : 4px;
	color : #0A1F33;
}

.incomeArea-title span, .expenseArea-title span {
	color : pink;
}

.expenseArea-title {
	text-align : right;
}

.monthlyArea-title {
	text-align : center;
}

.incomeArea ul, .expenseArea ul {
	list-style-type: none;
}

.incomeArea-payment-count {
	text-align : right;	
}

.incomeArea-payment-count li, .expenseArea-payment-count li {
	display:inline-flex;
	margin : 10px 20px;
	text-align : center;
	width : 100px;
	padding : 5px;
	font-size : 18px;
}

.incomeArea-payment-count li:nth-child(1), .expenseArea-payment-count li:nth-child(1) {
	background-color : rgba(255, 128, 128, 0.4);
}
.incomeArea-payment-count li:nth-child(2), .expenseArea-payment-count li:nth-child(2) {
	background-color : rgba(255, 255, 128, 0.4);
}
.incomeArea-payment-count li:nth-child(3), .expenseArea-payment-count li:nth-child(3) {
	background-color : rgba(128, 255, 255, 0.4);
}

.income-category-ranking, .expense-category-ranking {
	width : 30%;
	height : 300px;
	text-align : center;
	margin : 10px 30px;
	display : inline-block;
	padding-top : 80px;
}

.income-category-ranking, .expense-category-chart{
	float : left;
}

.income-category-chart, .expense-category-ranking {
	clear : both;
}

.income-category-chart, .expense-category-chart {
	width : 550px;
	height : 300px;
	display : inline-block;
	margin : 10px 0;
}

.monthly-total-chart {
	width : 700px;
	height : 300px;
	margin : 10px auto;
}


.monthlyPagingBtn {
	font-size : 1rem;
	display : flex;
	justify-content : space-between;
	padding : 0 40px;
	z-index : 3;
}



/* 엑셀 모달 */
.findExcelDate {
	position : relative;
	width : 500px;
	height : 150px;
	z-index : 999;
	margin : auto;
	text-align : center;
	border-radius : 10px;
	top : 40%;
	padding : 20px;
	background-color : #FFFBF5;
	
}

.excelbox {
	width : 150px;
}

.excel-ment {
	font-size : 20px;
}

#excelDownlaodBtn {
	margin-left : 20px;
	font-size : 1.5em;
}
