@charset "UTF-8";

.wrapper {
  background-color: #FFFBF5;
  width: 100%;
  height: 100%;
  position: relative;
}

.body {
	height : 100%;
}

/* 가운데 메인 위젯 영역 */
.m_center {
  width: 80%;
  height: 100%;
  position: absolute;
  left : 10%;
  top: 120px;
  background-color: #F5F5F5;
}

/* 북마크 디자인 */
/* .m_center::before{
  content: '';
  position: absolute;
  top: -20px;
  right: 50px;
  width : 50px;
  height: 250px;
  background-color: #F6953C;
  border-radius: 20px;
  border-top-right-radius: 0px;
}

.m_center::after{
  content: '';
  position: absolute;
  top: -20px;
  right: 30px;
  width : 20px;
  height: 20px;
  background-color: #F6953C;
  border-top-right-radius: 20px;
} */

/* 사이드 메뉴 */
.side_nav {
  position: relative;
  z-index: 999;
  top : 20%;
  left : -7%;
  display: inline-block;
  width : 200px;
}

.side_nav:hover {
  animation-name: slide;
  animation-duration: 0.5s;
  left : 1%;
  cursor: pointer;
}

@keyframes slide {
  from {
    left : -7%;
  }
  to {
    left : 1%;
  }
}

.side_nav ul {
  list-style: none;
  display: inline-block;
  padding : 0;
  float: right;
}

.side_nav ul li {
  width : 150px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin : 2px;
  background-color: #E5E5E5;
  color : #F6953C;
  border-radius: 0px 15px 15px 0px;
}

.side_nav ul li:hover{
  background-color: #F6953C;
  color : #E5E5E5;
}

/* 위젯 */
.widget_form {
  width : 350px;
  height: 200px;
  position: relative;
  background : white;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border : 1px solid rgba(225, 225, 225, 0.5);
  border-radius: 10px;
  top : 30px;
  left : 50px;
  padding : 20px;
  margin : 30px;
  backdrop-filter: blur(25px);
  float : left;
}

.widget_form::before{
  content: '';
  position: absolute;
  width : 25px;
  height: 25px;
  top : 15px;
  right : 5px;
  border-top : 2px solid rgba(225, 225, 225, 0.8);
  transform: rotate(-45deg)
}

.widget_form::after{
  content: '';
  position: absolute;
  width : 25px;
  height: 25px;
  top : 15px;
  right : 20px;
  border-top : 2px solid rgba(225, 225, 225, 0.8);
  transform: rotate(45deg);
}

.widget_form:hover {
  cursor: move;
}

.editWidget {
  width : 400px;
  height : 500px;
}