@charset "UTF-8";
/* 썸네일 이미지 설정*/
.movie-banner {
	top: 50px;
	padding: 0;
}

.banner-div{
    height: 400px;
    width: 60%;
    margin-left: 350px;
    background-color: black
}
.banner-img{
    height: 400px;
    width: 60%;
    margin-left: 200px;
    background-color: black
}
.movie-nav{
background-color: #fffbf5 !important;
}

.slick-list {
	min-height: 100px;
	width: 100%;
	background-color: #fffbf5;
}

.movieapi-container {
	padding: 100px;
}

.movie-card {
	display: inline-block;
}

/* poster style */
/*post slider*/
.post-slider {
	
}

.post-slider .silder-title {
	text-align: center;
	margin: 30px auto;
	font-weight:bold;
}

.post-slider .next {
	position: absolute;
	top: 50%;
	right: 30px;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}

.post-slider .prev {
	position: absolute;
	top: 50%;
	left: 30px;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}

.post-slider .post-wrapper {
	width: 90%;
	height: 500px;
	margin: 0px auto;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
	width: 100%;
	height: 410px;
	border-radius: 5px;
	margin-right: 20px;
}

.post-slider .post-wrapper .post .post-info {
	font-size: 15px;
	padding-left: 10px;
}

.post-slider .post-wrapper .post .slider-image {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.movie-img {
	width: 100%;
	height: 330px;
}
.silk-slide{
height: 300px;
}

/* popular-wrapper */
.post-slider .popular-wrapper {
	width: 90%;
	height: 500px;
	margin: 0px auto;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
}

.post-slider .popular-wrapper .post {
	width: 100%;
	height: 410px;
	border-radius: 5px;
	margin-right: 20px;
}

.post-slider .popular-wrapper .post .post-info {
	font-size: 15px;
	padding-left: 10px;
}

.post-slider .popular-wrapper .post .slider-image {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.post-slider .nextt {
	position: absolute;
	top: 50%;
	right: 30px;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}

.post-slider .prevv {
	position: absolute;
	top: 50%;
	left: 30px;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}

/* top-wrapper */
.post-slider .top-wrapper {
	width: 90%;
	height: 500px;
	margin: 0px auto;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
}

.post-slider .top-wrapper .post {
	width: 100%;
	height: 410px;
	border-radius: 5px;
	margin-right: 20px;
}

.post-slider .top-wrapper .post .post-info {
	font-size: 15px;
	padding-left: 10px;
}

.post-slider .top-wrapper .post .slider-image {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.post-slider .nexttt {
	position: absolute;
	top: 50%;
	right: 30px;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}

.post-slider .prevvv {
	position: absolute;
	top: 50%;
	left: 30px;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}
.empty-search{text-align:center;}

