<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feed">

	<select id="countAllHostFeed" resultType="int">
		select count(*) from feed where writer = #{id}
	</select>
	
	<select id="selectOnePersonFeed" resultType="feed">
		select * from feed where writer = #{id} and code = #{code}
	</select>
	
	<select id="selectOnePersonFeedOnebyOne" resultType="feed">
		select d.* from (select rownum as roww, f.* from feed f order by f.reg_date desc)d where d.roww = #{rownum}
	</select>
	
	<select id="selectAllOneFeedAttachments" resultType="attachment">
		select * from attachment where code = #{code}
	</select>
	
	<select id="selectAllOneFeedComments" resultType="feedComment">
		select * from feed_comment f join member m on f.comment_writer = m.id where f_code = #{code}
	</select>
	
	<select id="selectOneFeedComment" resultType="feedComment">
		select * from feed_comment f join member m on f.comment_writer = m.id where no = #{no} and f_code = #{code} and comment_writer = #{id}
	</select>
	
	<select id="countAllHostFeedLikes" resultType="int">
		select count(*) from likes where code = #{code}
	</select>

	<select id="selectAllHostSocialCount" resultType="map">
		select a.*, b.* from
		(select count(my_id) friend from following where my_id = #{id})a,
		(select count(follower_id) follower from request_friend where is_friend = 'F' and my_id = #{id})b
	</select>
	
	<select id="countOneFeedComment" resultType="int">
		select count(*) from feed_comment where f_code = #{code}
	</select>
	
	<select id="selectFeedLikesCheck" resultType="int">
		select count(*) from likes where code = #{code} and id = #{id}
	</select>
	
	<insert id="insertFeedComment">
		insert into feed_comment values(seq_feed_comment_no.nextval, #{code}, #{id}, #{content}, default)
	</insert>
	
	<select id="selectCommentNo" resultType="int">
		select seq_feed_comment_no.currval from dual
	</select>
	
	<delete id="deleteComment">
		delete from feed_comment where no = #{no} and comment_writer = #{id} and f_code = #{code}
	</delete>
	

</mapper>

