<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feed">

	<select id="countAllHostFeed" resultType="int">
		select count(*) from feed where writer = #{id}
	</select>
	
	<select id="selectOnePersonFeed" resultType="feed">
		select * from feed where writer = #{id} and code = #{code}
	</select>
	
	<select id="selectOnePersonFeedOnebyOne" resultType="feed">
		select d.* from (select rownum as roww, f.* from feed f where f.writer = #{id} order by f.reg_date desc)d where d.roww = #{rownum}
	</select>
	
	<select id="selectAllOneFeedAttachments" resultType="attachment">
		select * from attachment where code = #{code}
	</select>
	
	<select id="selectAllOneFeedComments" resultType="feedComment">
		select * from feed_comment f join member m on f.comment_writer = m.id where f_code = #{code} order by f.reg_date
	</select>
	
	<select id="selectOneFeedComment" resultType="feedComment">
		select * from feed_comment f join member m on f.comment_writer = m.id where no = #{no} and f_code = #{code} and comment_writer = #{id}
	</select>
	
	<select id="countAllHostFeedLikes" resultType="int">
		select count(*) from likes where code = #{code}
	</select>

	<select id="selectAllHostSocialCount" resultType="map">
		select a.*, b.* from
		(select count(my_id) following from friend where my_id = #{id})a,
		(select count(follower_id) follower from request_friend where is_friend = 'F' and my_id = #{id})b
	</select>
	
	<select id="countOneFeedComment" resultType="int">
		select count(*) from feed_comment where f_code = #{code}
	</select>
	
	<select id="selectFeedLikesCheck" resultType="int">
		select count(*) from likes where code = #{code} and id = #{id}
	</select>
	
	<insert id="insertFeedComment">
		insert into feed_comment values(seq_feed_comment_no.nextval, #{code}, #{id}, #{content}, default)
		<selectKey resultType="int" keyProperty="no" order="AFTER">
			select seq_feed_comment_no.currval from dual
		</selectKey>
	</insert>
	
	<select id="selectCommentNo" resultType="int">
		select seq_feed_comment_no.currval from dual
	</select>
	
	<delete id="deleteComment">
		delete from feed_comment where no = #{no} and comment_writer = #{id} and f_code = #{code}
	</delete>
	
	<select id="selectAddFeed" resultType="map">
		select 
			f.code code,
			f.writer writer,
			f.content content,
			f.reg_date regdate,
			a.renamed_filename filename,
			(select count(*) from feed_comment where f_code = f.code) comments,
			(select count(*) from likes where code = f.code) likes
		from
			feed f left join attachment a
				on f.code = a.code
		where
			writer = #{id}
		order by
			f.reg_date desc
	</select>
	
	<insert id="feedEnroll">
		insert into feed values(concat('fe-',seq_feed_no.nextval), #{writer}, #{content}, default)
		<selectKey order="AFTER" resultType="string" keyProperty="code">
			select concat('fe-',seq_feed_no.currval) from dual
		</selectKey>	
	</insert>
	<insert id="insertAttachment">
		insert into attachment
		values(seq_attachment_no.nextval, #{code}, #{originalFilename}, #{renamedFilename}, default)
	</insert>
	<select id="addFeedMain" resultType="map">
		select 
			f.code code,
			f.writer writer,
			f.content content,
			f.reg_date regDate,
			a.renamed_filename filename,
			m.nickname nickname,
			m.profile profile,
			m.login_type loginType,
			m.profile_status profileStatus,
			(select count(*) from feed_comment where f_code = f.code) comments,
			(select count(*) from likes where code = f.code) likes,
			(select 1 as likeCheck from(select * from likes where id = #{id} and code = f.code)) likecheck
		from
			feed f 
				left join attachment a
				on f.code = a.code
				left join member m
				on f.writer = m.id 
		order by
			f.reg_date desc
	</select>
	<select id="feedMain" resultType="map">	
		select * from
		(select 
			f.code code,
			f.writer writer,
			f.content content,
			f.reg_date regDate,
			a.renamed_filename filename,
			m.nickname nickname,
			m.profile profile,
			m.login_type loginType,
			m.profile_status profileStatus,
			(select count(*) from feed_comment where f_code = f.code) comments,
			(select count(*) from likes where code = f.code) likes,
			(select 1 as likeCheck from(select * from likes where id = #{id} and code = f.code)) likecheck
		from
			feed f 
				left join attachment a
				on f.code = a.code
				left join member m
				on f.writer = m.id 
		order by
			f.reg_date desc)
		where rownum <![CDATA[<=]]> 2	
	</select>

	
	<delete id="deleteFeed">
		delete from feed where code = #{code}
	</delete>
	
</mapper>

