@charset "UTF-8";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  /*font-family: 'Pretendard-Regular'; */ 
  font-family: 'SUIT-Medium';
}

.body {
	height : 100%;
}

.box {
  border : 1px solid black;
}

/* 전체 영역 */
.wrapper {
  width : 100%;
  height : 100vh;
  background-color: #FFFBF5;
  position : relative;
}

/* 스크롤바 none */
::-webkit-scrollbar {
  display: none;
}

/* 사이드 nav */
.nadaum_header{
  width : 13%;
  height : 100vh;
  background-color: #0A1F33; 
  overflow: auto;
  float : left;
  z-index : 50;
  letter-spacing : 2px;
}

/* 로고 */
.logo {
  font-size: 2rem;
  display: inline-flex;
  text-align: center;
  margin : 25px;
  margin-top: 50px;
  letter-spacing: 5px;
  
}

.nadaum_header a, .nadaum_header li {
  color : rgb(228, 226, 226);
  text-decoration: none;
  padding : 5px;
}

.nadaum_header i {
	padding-right : 5px;
}

.nadaum_header ul {
  list-style-type: none;
  margin : 10px 0px;
}

.main-nav li, .help-nav li, .menu-nav li{
  padding : 12px;
  font-size : 20px;
}

.personal-main:hover, .culture-main:hover {
	cursor : pointer;
}

.personal-main i, .culture-main i {
	padding : 5px;
}

.personal-sub, .culture-sub{
	display : none;
	font-size : 15px;
}

.personal-sub li, .culture-sub li {
	font-size : 15px;
	margin-left : 40px;
}

.help-nav li {
 	float : right; 
	padding : 3px;
	list-style-type: none
} 

.help-nav a {
	font-size : 20px;
	height: 35px;
}

.help-nav-wrap{
	margin-top : 30px;
}

.activeOn {
/*   background-color: #f2f2e65e;
 */  background-color: white;
  border-radius: 20px;
}

.activeOn a {
  /* color : rgb(248, 239, 160); */
   color : #38383b; 
}


/* 상단 헤더 - 프로필부분 */
.nadaum-header {
	width : 87%;
	height : 80px;
	display : inline-block;
	clear : both;
	text-align : right;
	padding : 20px;
 	position : sticky; 
 	top : 0;
 	z-index:10;
}

.nadaum-header i{
	cursor: pointer;
}

.user-factors {
	display : inline-flex;
 	margin : 0px 10px; 
 	position : relative;
}

#sign-out {
	font-size : 30px;
	background-color: #FFFBF5;
	border : none;
	top : -10px;
	color : #0A1F33;
}

.head-nickname-span a {
	color : #0A1F33;
	font-size : 20px;
	text-decoration : none;
}

.profile-wrap {
	top : -15px;
}

/* 사이드바, 헤더 제외한 본문 영역 */
.contentWrapper {
	width : 87%;
	height : 89vh;
    overflow : auto;
}

.contentWrapper::-webkit-scrollbar {
  	width : 20px;
  	display : block;
}

.contentWrapper::-webkit-scrollbar-thumb {
  background-color: #0A1F33; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 4px solid transparent;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
 
.contentWrapper::-webkit-scrollbar-track {
    background-color: #FFFBF5; /*스크롤바 트랙 색상*/
}


/* footer */

.footer {
	clear : both;
	width : 100%;
	background-color: #FFFBF5;
	position : relative;
	bottom : 0;
	padding : 50px;
}

.footer ul {
	list-style : none;
}

.footer li, .footer p, .footer a {
	display : inline-block;
	padding : 5px;
	font-size : 15px;
	color : rgba(10, 51, 51, 0.8);
	text-decoration : none;
}

.footer span {
	font-size : 17px;
	color : #0A1F33;
}
