@charset "UTF-8";
/* 페이지 설정 */
#container{
padding: 0;
}
.container{
	padding: 0;
}
section{
	background-color: #FFFBF5;
	
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
}

/* 썸네일 이미지 설정*/

.culture-thumnail{
	position: relative;
	padding: 0;
}
.culture-thumnail img{
	height: 450px;
	width: 100%;
	opacity: 0.75;
}
.title{
	position: absolute;
	top: 30%;
    left: 60%;
}
/*검색 폼 */
.search-form{
	position: absolute;
    background: #F2F2F2;
    left: 10%;
    bottom: -10%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    margin-bottom: 20px;
}


/* 오렌지색 버튼*/
.btn {
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.orange {
  background-color: #F6953C;
  box-shadow: 0px 4px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}