<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ws">
	<select id="selectAlarmCount" resultMap="alarmMap">
		select * from alarm where status = 'F' and id = #{id} order by reg_date desc
	</select>
	
	<update id="updateAlarm">
		update alarm set status = 'T'
			<where>
				id = #{id}
				<if test="no != 0">
				and no = #{no}
				</if>
			</where> 
	</update>
	
	<select id="selectAllFriendForInvite" resultType="map">
		select m.nickname nickname, m.login_type logintype, m.profile_status profilestatus, m.profile profile from friend f join member m on f.friend_id = m.id where f.my_id = #{id}
	</select>
	
	<resultMap type="map" id="alarmMap">
		<id column="no" property="no"/>
		<result column="code" property="code"/>
		<result column="id" property="id"/>
		<result column="status" property="status"/>
		<result column="content" property="content"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
</mapper>

