<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">

	<select id="allWidgetList" resultType="com.project.nadaum.main.model.vo.Widget">
		select
		    *
		from
		    widget
		where
		    id=#{id}
		order by no
	</select>

	<!-- 위젯 드롭시 자동 테이블 등록 -->
	<insert id="insertWidget">
		insert into
			widget
		values(
			seq_widget_no.nextval,
			#{id},
			#{widgetName}
		)
	</insert>
	
	<!-- 내려놓으면서 생성되는 기본 투두리스트 -->
	<insert id="insertTodoList">
		insert into 
			todo_list (no, id, content)
		values(
			seq_todo_list_no.nextval,
			#{id},
			#{content}
		)
	</insert>
	
	<delete id="deleteWidget">
		delete widget where no = #{no}
	</delete>
	
 	<!-- 투두리스트 목록 -->
	<select id="userTodoList" resultType="com.project.nadaum.main.model.vo.TodoList">
		select 
		    * 
		from 
		    todo_list
		where
		    id = #{id}
		    and
		    title = #{title}
	</select>
	
	<!-- delete -->
	<delete id="deleteTodoList">
		delete
			todo_List
		where
			no = #{no}
	</delete>

</mapper>

