.modal-content{
	background-color: inherit;
}

#exampleModalLabel{
	font-weight: bold;
}

.remember-find-wrap{
	display: flex;
	width: 420px;
	justify-content: space-between;
}
.find-wrap{
	display: flex;
}
.find-id{
	margin-right: 20px;
}
.find-wrap a{
	color: black;
}

.login-btn-wrap{
	display: flex;
	justify-content: center;
}
.login-btn-wrap button{
	width: 300px;
	height: 45px;
}


.modal-footer{
	flex-direction: column;
	padding: 0;
}

.enroll-wrap{
	margin: 10px 0;
	text-align: center;
	font-size: .75rem;
}
.enroll-wrap a{
	color: black;
	font-weight: bold;
}

.kakao-login-wrap{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
#kakao-login{
	cursor: pointer;
}