@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.modal-content{
	background-color: inherit;
}

#exampleModalLabel{
	font-weight: bold;
}

.remember-find-wrap {
    display: flex;
    width: 420px;
    margin-top: 20px;
    justify-content: space-between;
}
.find-wrap{
	display: flex;
}
.find-id{
	margin-right: 20px;
}
.find-wrap a{
	color: black;
}

.login-btn-wrap{
	display: flex;
	justify-content: center;
}
.login-btn-wrap button {
    width: 300px;
    margin-top: 20px;
    height: 45px;
}


.modal-footer{
	flex-direction: column;
	padding: 0;
}

.enroll-wrap{
	margin: 10px 0;
	text-align: center;
}
.enroll-wrap a{
	color: black;
}

.kakao-login-wrap{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
#kakao-login{
	cursor: pointer;
}