<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="riot">
	<!-- 
		#{lang, typehadler=stringArray2VarcharTypeHandler}
		@MappedTypes @MappedJdbcType 선언시 생략가능 
	
	 -->
	<insert id="insertSummoner">
		insert into
			riot_record(no, account_id, profile_icon_id, revision_date, name, id, puuid, summoner_level)
		values(
			seq_riot_record_no.nextval,
			#{accountId},
			#{profileIconId},
			#{revisionDate},
			#{name},
			#{id},
			#{puuid},
			#{summonerLevel}
		)
	</insert>
	
	<insert id="insertLeagueEntry">
		insert into
			riot_tier(no, league_id, queuetype, tier, rank, league_points, wins, losses, summoner_id)
		values(
			seq_riot_tier_no.nextval,
			#{leagueId},
			#{queueType},
			#{tier},
			#{rank},
			#{leaguePoints},
			#{wins},
			#{losses},
			#{summonerId}
		)
	</insert>
	
	<select id="selectOneSummoner" resultType="summoner">
		select 
			*
		from
			riot_record
		where
			puuid = #{puuid}
	</select>
	
	<select id="selectOneLeagueEntry" resultType="leagueEntry">
		select 
			*
		from
			riot_tier
		where
			summoner_id = #{summonerId}
	</select>
	
	<insert id="insertRiotFavo">
		insert into
			riot_myaccount(no, member_id, sm_id)
		values(
		seq_riot_myaccount_no.nextval,
			#{member_Id},
			#{sm_Id}
			
		)
	</insert>
	
	<select id="selectOneDetailAccount" resultType="int">
		select 
			count(*)
		from
			riot_myaccount
		where
			member_id = #{member_Id} and sm_id = #{sm_Id}
	
	</select>
	
	<select id="selectOneMemberAccount" resultType="int">
		select 
			count(*)
		from
			riot_myaccount
		where
			member_id = #{member_Id} 
	
	</select>
	
	<select id="selectOneAccountName" resultType="riotFavo">
		select 
			a.member_id,
            a.sm_id,
            a.fav_accept,
            b.name
            
		from
			riot_myaccount a join riot_record b
            on a.sm_id = b.id
		where
			member_id = #{member_Id} 
	
	</select>
	
	<select id="selectOneAccount" resultType="int">
		select 
			count(*)
		from
			riot_myaccount
		where
			member_id = #{member_Id} and sm_id = #{sm_Id}
	
	</select>
	
	<delete id="deleteFav">
		delete from riot_myaccount where member_id = #{member_Id} 
	</delete>
	
	
	

</mapper>

