<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="culture">
	<insert id="insertCultureLike">
		insert 
		into 
			likes 
		values
			(seq_likes_no.nextval, #{id}, #{apiCode})
	</insert>
	
	<delete id="deleteCultureLike">
		delete 
		from 
			likes 
		where 
			id = #{id} 
		and 
			code = #{api_code}
	</delete>
	
</mapper>

